.DB-main
{
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: auto;
    margin-right: auto; */
    
    /* background-color: gray; */
    
}
.one
{
    display: flex;
    /* background-color: aquamarine; */
    flex-direction: row;
    align-content: space-between;
    overflow-x: auto;
    
}

.one-1
{
    background-color: #ffffff;

    padding: 15px;
    min-height: 200px;
    border-radius: 13px;
    min-width: 315px;
    margin: 10px 10px 10px 0px;
}
.one-2
{
    background-color:#ffffff;
    padding: 15px;
    border-radius: 13px;
    min-height: 180px;
    min-width: 630px;
    margin: 10px;
}
.one-3
{
    background-color:#ffffff;
    padding: 15px;
    min-height: 180px;
    min-width: 315px;
    margin: 10px;
    border-radius: 13px;
}

.two
{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    border-radius: 13px;
    overflow-x: auto;
}
.two-1
{
    max-height: 450px;
    min-width: 345px;
    margin: 10px 10px 10px 0px;
    background-color: #ffffff;
    border-radius: 13px;
   
}
.two-1-1{
  min-height: 200px;
  max-width: 172 px;
  margin: 10px 10px 10px 10px;
  background-color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 13px;
}

.two-1-2{
  min-height: 200px;
  max-width: 172 px;
  margin: 10px 10px 10px 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 13px;
}
.two-2
{
    padding: 15px;
    min-height: 400px;
    min-width: 630px;
    margin: 10px;
    border-radius: 13px;
    background-color: #ffffff;
}
.two-3
{
    padding: 15px;
    min-height: 400px;
    min-width: 315px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 13px;
}

.one::-webkit-scrollbar {
    display: none;
  }
  h3{
    margin: 10px 10px 0px 10px;
    font-size: large;
    font-weight: 600;
    font-family: satoshi;
  }
  h1{
    font-weight: 600;
    font-family: satoshi;
    margin: 5px 0px;
    
  }
  .one-gauge
  {
    height:85%;width:95%;margin-left:20px;display:flex;
    flex: 1;
    
  }
  .one-gauge>div
  {
    width: 35%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .one-gauge>div>p{
    margin: 0px;
  }

  .heartbeat-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: heartbeat 1.5s infinite;
    color: red;
  }
  
  @keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  .footstep-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
  }
  