.DB-main
{
    display: flex;
    flex-direction: column;
    padding: 8px 68px;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: auto;
    margin-right: auto; */
    
    /* background-color: gray; */
    
}
.one
{
    display: flex;
    /* background-color: aquamarine; */
    flex-direction: row;
    align-content: space-between;
    overflow-x: auto;
    
}

.one-1
{
    background-color: #ffffff;

    padding: 15px;
    min-height: 180px;
    border-radius: 13px;
    min-width: 315px;
    margin: 10px 10px 10px 0px;
}
.one-2
{
    background-color:#ffffff;
    padding: 15px;
    border-radius: 13px;
    min-height: 180px;
    min-width: 630px;
    margin: 10px;
}
.one-3
{
    background-color:#ffffff;
    padding: 15px;
    min-height: 180px;
    min-width: 315px;
    margin: 10px;
    border-radius: 13px;
}

.two
{
    display: flex;
    
    /* margin-top: 20px; */
    /* background-color: aquamarine; */
    flex-direction: row;
    align-content: space-between;
    border-radius: 13px;
    overflow-x: auto;
}
.two-1
{
    /* padding: 15px; */
    min-height: 400px;
    min-width: 345px;
    margin: 10px 10px 10px 0px;
    background-color: #ffffff;
    border-radius: 13px;
   
}
.two-2
{
    padding: 15px;
    min-height: 400px;
    min-width: 630px;
    margin: 10px;
    border-radius: 13px;
    background-color: #ffffff;
}
.two-3
{
    padding: 15px;
    min-height: 400px;
    min-width: 315px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 13px;
}

.one::-webkit-scrollbar {
    display: none;
  }
  h3{
    margin: 10px 10px 0px 10px;
    font-size: large;
    font-weight: 600;
    font-family: satoshi;
  }
  h1{
    font-weight: 600;
    font-family: satoshi;
    margin: 5px 0px;
    
  }